/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2014, 6:03:30 PM
    Author     : Samson
*/


#left_menu{
 margin-top:50px;
 
  font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
  float: left;
}
#left_menu li {
  list-style: none;
 
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
#left_menu li a {
  color: white;
  text-decoration: none;
  display: block;
}
#left_menu li a:hover {
  background-color: #6B238E;
}



 div.floating-menu 
 {
     position:fixed;
     background:#fff4c8;
     border:1px solid #ffcc00;
     width:150px;
     z-index:100;
     margin-top:130px;
      margin-left: -170px;
 }
 
 div.floating-menu a
 {
     display:block;
     margin:0 0.5em;
     text-align:right;
 
 }