/*
    GPL v3
    Created on : Apr 2, 2014, 7:30:16 PM
    Author     : Samson
*/

* { /*fx mystery margin on top of body and other places*/
   margin: 0px;
   padding: 0px;
}
body {
   /*  margin-top: -17px;there is some mystery whitespace padding above <body> .
   removed this since the *{} above fixes this*/
 
   height:100%;  
}

head{height:0px;}

#index_footer{
    bottom:0;
    position:absolute;
    width:100%;
    height:20px;
    
}

#icons_ctr{
     position: relative;
}
#icons{
    position: absolute;
    top: 0px;
    right: 0px;
}

#icons img{
    
        
    height:32px;
}