IndexIgnore * 
DirectoryIndex index.php
 <Files "views.txt">
Order Allow,Deny
Deny from all
</Files>
<Files "log.txt">
Order Allow,Deny
Deny from all
</Files>
<FilesMatch "\.(ttf|ttc|otf|eot|woff)$">
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>