/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 7, 2014, 11:34:28 PM
    Author     : Samson
*/

.mod_logo
{      
    background-color:#35963D;
    /*width:40%; */
    min-height:120px; 
    border-radius:5px;  
    
    overflow:hidden; 
    margin-bottom:2%;
}

.mod_name{
    float:left;
}

.mod_link{
    float:right;
}

.mod_content
{ 
    background-color:#35A63D; 
   /* width:60%;*/
    min-height:80px; 
    height:80px; 
    overflow:hidden; 
    margin-bottom:2%;     
     
}

.mod_content:hover{
    background-color:#4FAB57!important;
    
}
.mod_ctr section{
    padding:5px;
 
}